*__pycache__*
*.ipynb_checkpoints*
*.kdev4
__pycache__/
*.py[cod]
*$py.class
*~
.DS_Store
Thumbs.db
.cache
.vscode
.project
.settings
.tmproj
.svn
.CVS
*.orig
*.old
*.log
*.swp
*.swp
.sync*
.owncloud*
.nextcloud*
.stfolder
*-swp
build/
CMakeLists.txt.user
qtcsettings.cmake
qt6/
doc/mth5/build/
doc/mth5/source/_build/
doc/mth5/source/_static/
